div.blog section.container{
    width: 60%;
	margin:20px auto;
	height: 100%;
	position: relative;
    padding: 0px;
}

div.blog section.container div.ctn-avatar{
    display:flex;
    flex-direction: row;
    align-items: center;
    line-height: 7px;
}

div.blog section.container div.ctn-avatar .avatar{
    width:60px;
    height: 60px;
    margin-right: 20px;
}

div.blog section.container div.ctn-img{
    width:100%;
    min-height: 300px;
    margin-top:20px;
}

div.blog section.container div.ctn-img >img{
    width: 100%;
    height: 100%;
    min-height: 300px;
    border-radius: 4px;
}

div.blog section.container article{
    line-height: 35px;
    font-size: 1.1em
}

div.blog section.container div.ctn-tags{
    padding-bottom: 50px;
}

div.blog section.container div.cardArticle{
    display:flex;
    flex-direction: row;
    margin-top:40px
}

div.blog section.container div.cardArticle > div{
    width:50%;
}

div.blog section.container div.cardArticle div.ctn-image{
    height: 200px;
    margin-bottom:20px;
}

div.blog section.container div.cardArticle div > img{
    width:100%;
    height:100%;
}

div.blog section.container div.cardArticle div > a {
    font-weight: bold;
    font-size: 1.3em;
    color:black
}

div.blog section.container div.ctn-tags{
    margin-top:20px;
    margin-bottom:50px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {
    div.blog section.container{
        padding: 5px 5px 0px 5px;
        width: calc(95% - 10px);
    }
    div.blog section.container div.cardArticle{
        flex-direction: column-reverse
    }
    div.blog section.container div.cardArticle >div{
        width:100%;
    }
}
  
